{% extends 'base.html' %}

{% block title %}Solicitacões{% endblock %}

{% block conteudo %}
    <div class="shadow rounded mx-5 my-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Bolsista</th>
                <th scope="col">Mes</th>
                <th scope="col">Ano</th>
                <th scope="col">Valor</th>
                <th scope="col">Relatório</th>
                <th scope="col">Comp.Pag</th>
                <th scope="col">Situacão</th>
              </tr>
            </thead>
            <tbody>
            {% for sol in solicitacoes %}
              <tr>
                <td>{{sol.bolsista.nome}}</td>
                <td>{{sol.mes}}</td>
                <td>{{sol.ano}}</td>
                <td>{{sol.valor_bolsa}}</td>
                <td><a href="{{ sol.relatorio.url }}" download>Relatório</a></td>
                <td>
                  {% if sol.comprovante_pagamento %}
                    <a href="{{ sol.comprovante_pagamento.url }}" download>Comprovante</a>
                  {% else %}
                    Sem comprovante
                  {% endif %}
                </td>
                {% if sol.situacao == "pago"%}
                  <td><span class="badge bg-success">{{sol.situacao}}</span></td>
                {% elif sol.situacao == "aguardando"%}
                  <td><span class="badge bg-warning">{{sol.situacao}}</span></td>
                {% else %}
                  <td><span class="badge bg-danger">{{sol.situacao}}</span></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}