{% extends 'base.html' %}

{% block title %} Editar Bolsista {% endblock %}

{% block conteudo %}

<!-- confirmar_exclusao.html -->
<div class="rounded shadow bg-light text-center mx-5 my-5" style="width: 50vw;">
    <h1>Confirmar Exclusão</h1>
    <p>Tem certeza de que deseja excluir o(a) bolsista "{{ bolsista.nome }}" ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        
    </form>
    <button class="btn btn-primary text-dark my-2 w-25 text-white" onclick="window.history.back()">Cancelar</button>
</div>

{% endblock %}